body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 5%;
}
h1 {
    color: #333;
}
#drop-zone {
    margin: 40px auto;
    width: 80%;
    height: 200px;
    border: 2px dashed #666;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    cursor: pointer;
}
#drop-zone.hover {
    border-color: #333;
    color: #333;
}